.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(169.73deg, #f8bae2 0%, #ffde41 115.15%);
  color: white;
}

/* Home Text fade-in transition */
.home-page {
  height: 100vh; /* Set the height of the container to 100% of the viewport */
  background: linear-gradient(169.73deg, #f8bae2 0%, #ffde41 115.15%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}
.fade-out {
  animation: fadeOut 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*  end transition */
/*  */
/*  */
/* Media query - landscape */

/* end media query */
